<!DOCTYPE html>
<html>
<head>
  <title>Editar Ticket</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="p-4">
  <h1>Editar Ticket</h1>
  <form method="post" action="/tickets/editar/<%= ticket.ticket_id %>">
    
    <select name="articulo_id" class="form-control mb-3" required>
      <% articulo.forEach(u => { %>
        <option value="<%= u.articulo_id %>"> <%= u.serie %></option>
        <% }) %>
    </select>

    <select name="tecnico_id" class="form-control mb-3" required>
      <% tecnico.forEach(u => { %>
        <option value="<%= u.tecnico_id %>"><%= u.nombre %></option>
      <% }) %>
    </select>
 
    <% let fecha = ticket.fecha ? new Date(ticket.fecha).toISOString().slice(0, 10) : ''; %>
    <input type="date" name="fecha" value="<%= fecha %>" class="form-control mb-2">

    <select name="estado_ticket_id" class="form-control mb-3" required>
      <% estado_ticket.forEach(u => { %>
        <option value="<%= u.estado_ticket_id %>"><%= u.nombre %></option>
      <% }) %>
    </select>

    <textarea name="descripcion" class="form-control mb-2"><%= ticket.descripcion %></textarea>
    <textarea name="descripcion" class="form-control mb-2"><%= ticket.diagnostico %></textarea>    
    <button class="btn btn-warning">Actualizar Ticket</button>
  </form>
</body>
</html>